.dotGrid {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
